body {
    background-image: url("../santaSecret/image/noeumll.jpg");
    background-repeat: round;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    background-color: #f8f9fa;
    margin: 0;
    color: #333;
}

.container {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    text-align: center;
    max-width: 400px;
    width: 100%;
    position: relative;
    text-align: center;
    margin: 0;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: rgb(112, 171, 199);
}

.input-group {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
}

.input-group input {
    margin-bottom: 10px; 
    width: 100%;
}

input {
    flex: 1;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    color: maroon;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(112, 171, 199);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: maroon;
}

button:disabled {
    background-color: #ccc;
}

button:hover:not(:disabled) {
    background-color: #e60073;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
    font-weight: bold;
}

.generate-button {
    background-color: rgb(112, 171, 199);
    margin-top: 20px;
    border-radius: 5px;
    width: 100%;
}

.generate-button:hover {
    background-color: #4cae4c;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

.list li {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: left;
}

#currentGiver {
    font-size: 1.5em;
    color: green;
}

#receiverName {
    font-size: 1.5em;
    color: red;
}

/* Telephone */
@media (max-width: 599px) {
    .container {
        max-width: 100%;
        padding: 15px;
        top: 0px;
        margin: 0 auto;
    }

    h1 {
        font-size: 20px;
    }

    button {
        font-size: 14px;
        padding: 8px 15px;
    }

    input {
        font-size: 14px;
        padding: 8px;
    }
}

/* Tablette */
@media (min-width: 600px) and (max-width: 899px) {
    .container {
        max-width: 80%;
        padding: 20px;
        top: 0px;
        margin: 0px auto;
    }

    h1 {
        font-size: 22px;
    }

    button {
        font-size: 16px;
        padding: 10px 20px;
    }

    input {
        font-size: 16px;
        padding: 10px;
    }
}

/* Ordi */
@media (min-width: 900px) {
    .container {
        max-width: 400px;
        padding: 20px 30px;
        margin: 0 auto;
        top: 0px;
        left: 0px;
    }

    h1 {
        font-size: 24px;
    }

    button {
        font-size: 16px;
        padding: 10px 20px;
    }

    input {
        font-size: 16px;
        padding: 10px;
    }
}